<form>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Registered email address" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field >
      <input type="password" matInput placeholder="Password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-slide-toggle>Admin</mat-slide-toggle>
  </div>
  <br>
  <div>
    <button class="btn btn-primary">Register</button>
  </div>
  </form>